/****************************************
  Components
*****************************************/

.tile {
	// height: 100%;
	margin: 5px;
	border: 1px solid $med-grey;
	// position: relative;
	box-shadow: 0 2px 2px $med-grey;

	&.selected {
		box-shadow: 0 2px 8px $blue;
	}

	@include wider-than(600px) {
		width: calc(33.33% - 10px);
	}
}

.tile-image {
	height: 200px;
	padding-top: 10px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.tile-details {
	height: 40%;
	width: 100%;
	background-color: $light-grey;
	border-top: 1px solid $med-grey;
	bottom: 0;
	padding: 10px;
}

.control {
	// bottom: 10%;
	// right: 5%;
	// background-color: cyan;
}

.control > button {
	font-size: .8em;
	color: $white;
	text-transform: uppercase;
	padding: 5px 10px;
	border: 1px solid $med-grey;
	border-radius: 15px;
	background-color: $lime-green;
	outline: 0;
}

.media-object {
	display: flex;
	margin: 20px 0;
	
}

.media-graphic {
	min-height: 100px;
	width: 100px;
	background-size: contain;
	background-repeat: no-repeat;
}

.media-content {
	flex: 1;
	padding: 10px;
	text-align: justify;
}

.compare-details {
	width: 60%;
	margin: 0 auto;
}

.compare-details td {
	padding: 10px;
}