/****************************************
  Inherited Syles
*****************************************/

/*
See this explanation for details
https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*/

html {
    box-sizing: border-box;
    color: #444;
    font: 12pt 'Open Sans', Arial;
    font-weight: 300;
}

*, *::before, *::after {
    box-sizing: inherit;
    color: inherit;
    font: inherit;
}

/****************************************
  Defaults
*****************************************/

header {
	background-color: $white;
}

h1 {
	margin: 0;
}

h2 {
	margin: 0;
}

p {
	margin: 0;
}

/****************************************
  Helpers
*****************************************/


/****************************************
  Layout
*****************************************/

.page {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background: radial-gradient(rgba($rgblime-green, .7), 
    rgba($rgbblue, 1));
}

.page > div {
	min-height: 100%;
	margin: 0 auto;
	width: 960px;
	background-color: $white;
}

.page div > header {
	position: relative;
}

.icon {
	position: absolute;
	left: 30px;
	color: $blue;
	vertical-align: center;
}

.icon > span {
	color: $lime-green;
}

.primary-nav {
	padding: 10px;
	right: 0;
	width: 100%;
	text-align: center;
	@include grey-border;
}

.primary-nav > a {
	text-transform: uppercase;
	text-decoration: none;
	padding: 10px 20px;
	margin: 10px
}

.tagline {
	position: absolute;
	left: 30px;
	top: 45px;
	z-index: 1;
}

/**
 * Content
 */

.content {
	flex: 1;
}

.content > div {
	margin: 0 auto;
}

/**
 * Showcase
 */

.showcase {
	height: 400px;
	background: url(../images/fan_hugger1000x500.jpg);
	background-position: 50% 50%;
	position: relative;
	@include bg-image;
}

.banner {
	display: flex;
	padding: 20px;
	position: absolute;
	height: 35%;
	background-color: rgba(250,250,250,.8);
	bottom: 15%;
	left: 0;
	right: 0;
}

.banner-text {
	font-size: 2em;
	padding: 20px;
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.logos {
	display: flex;
	width: 100%;
}

.logo {
	width: 15%;
	margin: 0 20px;
	@include bg-image;
}

.user-selections {
	height: 50px;
	background-color: $dark-grey;
}

.products > section {
	@include grey-border;
	padding: 15px 20px;	
	@include wider-than(600px) {
		padding: 30px 40px;		
	}
}

.products section > h2 {
	padding-left: 5px;
}

/**
 * Product Tiles
 */

.tiles {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	@include wider-than(600px) {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
	}
}

/**
 * About Us Page
 */

.about-content {
	padding: 30px 40px;
}

.about-content > h1 {
	margin: 5px;
}

.about-content h2 {
	margin: 0;
	margin: 5px 0;
}

.about-content p {
	margin: 0 10px;
}

.about-details > h2 {
	@include grey-border;
}

/**
 * Compare Page
 */

.compare-page {
	padding: 30px 40px;
}

.compare-images {
	margin: 15px 30px;
	justify-content: space-around;
}

.compare-images span {
	margin: 0;
	position: relative;
}

.compare-images span::after {
	content: ' ';
	top: 3px;
	left: -14px;
	width: 10px;
	height: 10px;
	position: absolute;
	border-radius: 50%;
}

.compare-image1 span::after {
	background-color: $lime-green;
}

.compare-image2 span::after {
	background-color: $blue;
}

.product-comparison-chart {
	min-height: 400px;
	width: 100%;
	padding: 30px 0;
}

.compare-details {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0 10px;
}

.compare-details td {
	text-align: center;
	padding: 5px;
	border-top: 1px solid $med-grey;
	border-bottom: 1px solid $med-grey;
}

