//page background
$off-white: #dedede;

//main & content 
$white: #fff;

//selected products
$dark-grey: #e8e8e8;

//tile details
$light-grey: #eee;

//borders
$med-grey: #d9d9d9;

//brand colors
$lime-green: #84c12d;
$rgblime-green: rgb(48, 205, 74);

$blue: #0399D3;
$rgbblue: rgb(3, 153, 211);