//page background
$off-white: #dedede;

//main & content 
$white: #fff;

//selected
$dark-grey: #e8e8e8;

//tile details
$light-grey: #eee;

//borders
$med-grey: #d9d9d9;

//buttons
$lime-green: #84c12d;
// $lime-green: #30CD4A;

$blue: #0399D3;

//rgb
$rgblime-green: rgb(48, 205, 74);
$rgbblue: rgb(3, 153, 211);