<div class="about-content">
	<h1>About Us</h1>
	<p>Our Goal is to make information more accessible to consumers. We want to help consumers see the long-term savings they can expect when purchasing higher-quality electricity-consuming products.</p>
	<h1>Things to Consider:</h1>
	<div class="about-details">
		<h2>DC Motor</h2>
		<div class="media-object">
			<div class="media-graphic" style="background-image: url(/images/dc_motor.jpg);"></div>
			<div class="media-content">
				<p>The specific type of DC motor used in ceiling fans is a brushless DC motor, (aka synchronous DC motor). A DC motor uses an internal array of magnets of opposing polarity. This creates a magnetic field that creates the torque required to rotate the motor's rotor. This process requires less electrical energy, translating into a 70% or greater reduction in power consumption over standard AC motors.</p>
			</div>
		</div>
		<h2>CFM &#38; Airflow Efficiency</h2>
		<div class="media-object">
			<div class="media-graphic"style="background-image: url(/images/airflow.jpg);"></div>
			<div class="media-content">
				<p>CFM is key when determining a fan’s airflow efficiency. Airflow efficiency is the CFM divided by the watts/amount of energy used to run the fan at its highest speed. A CFM of 75 is the minimum number to make a fan efficient. So you could have a fan that moves a lot of air (with a high CFM) but does so at a high wattage, so the fan may not be considered efficient.</p>
			</div>
		</div>
		<h2>Thermostat</h2>
		<div class="media-object">
			<div class="media-graphic" style="background-image: url(/images/thermostat.jpg);"></div>
			<div class="media-content">
				<p>Ceiling fans that include a thermostat can automatically turn your fan on and off and set the fan speed based on room temperature, conserving energy.</p>
			</div>
		</div>
	</div>
</div>