<div class="product-comparison-chart"></div>
<div class="compare-selections">
	<table class="compare-details" border="1">
		<tr>
			<td>Brand</td>
			<td>brand1</td>
			<td>brand2</td>
		</tr>
		<tr>
			<td>Model</td>
			<td>model1</td>
			<td>model2</td>
		</tr>
		<tr>
			<td>price</td>
			<td>$75</td>
			<td>$225</td>
		</tr>
		<tr>
			<td>Electric cost/Mo</td>
			<td>$5</td>
			<td>$3</td>
		</tr>
		<tr>
			<td>Width (in.)</td>
			<td>52</td>
			<td>52</td>
		</tr>
		<tr>
			<td>Airflow (CFM)</td>
			<td>1800</td>
			<td>3500</td>
		</tr>
		<tr>
			<td>Thermostat</td>
			<td>No</td>
			<td>Yes</td>
		</tr>
		<tr>
			<td>Remote</td>
			<td>No</td>
			<td>Yes</td>
		</tr>
		<tr>
			<td>Lightbulb</td>
			<td>17 Watt CFL</td>
			<td>18 Watt LED</td>
		</tr>
	</table>
</div>