<div class="compare-page">
	<div class="compare-images tiles">
		<div class="compare-image1 compare-tile tile-image"></div>
		<div class="compare-image2 compare-tile tile-image"></div>
	</div>
	<div class="product-comparison-chart"></div>
	<div class="compare-selections">
		<table class="compare-details">
			<tr>
				<td>Brand</td>
				<td class="brand1"></td>
				<td class="brand2"></td>
			</tr>
			<tr>
				<td>Model</td>
				<td class="model1"></td>
				<td class="model2"></td>
			</tr>
			<tr>
				<td>Price</td>
				<td class="price1"></td>
				<td class="price2"></td>
			</tr>
			<tr>
				<td>Watts</td>
				<td class="watts1"></td>
				<td class="watts2"></td>
			</tr>
			<tr>
				<td>Monthly Electric cost</td>
				<td class="mCost1"></td>
				<td class="mCost2"></td>
			</tr>
			<tr>
				<td>Yearly Electric cost</td>
				<td class="yCost1"></td>
				<td class="yCost2"></td>
			</tr>
			<tr>
				<td>Width (in.)</td>
				<td class="width1"></td>
				<td class="width2"></td>
			</tr>
			<tr>
				<td>Airflow (CFM)</td>
				<td class="airflow1"></td>
				<td class="airflow2"></td>
			</tr>
			<tr>
				<td>Thermostat</td>
				<td class="thermostat1"></td>
				<td class="thermostat2"></td>
			</tr>
			<tr>
				<td>Remote</td>
				<td class="remote1"></td>
				<td class="remote2"></td>
			</tr>
			<tr>
				<td>Lightbulb</td>
				<td></td>
				<td></td>
			</tr>
		</table>
	</div>
</div>