<div class="tagline">	
	<h2>Invest Now to Save Later</h2>
</div>
<div class="showcase">
	<div class="banner">
		<div class="banner-text">Brands</div>
		<div class="logos"></div>
	</div>
</div>
<div class="user-selections"></div>
<div class="products">
	<section>
		<h2>Ceiling fans</h2>
		<div class="tiles fans">
			{{!-- home.js result from fans --}}
		</div>
	</section>
	<section>
		<h2>Light Bulbs</h2>
		<div class="tiles bulbs">
			{{!-- home.js result from bulbs --}}
		</div>
	</section>
</div>